<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Crypto Mobile Template</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="css/global.style.css">
	<meta charset="utf-8">
</head>

<body>
	
	<div class="wrapper">

		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">스터디원 추가</h1>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<div class="container">
				    <div class="form-divider"></div>

					<div class="ref-content">
						<div class="form-row-group relative">
							<div class="form-row no-padding">
								<div class="form-divider"></div>
								<input type="text" id="userId" width="150%" placeholder="사용자 아이디 입력">
								<button id="findBtn" width="20%">찾기</button>
								<div class="form-divider"></div>
								<h5>* 스터디원 목록</h5>
								<h4 id="userList" class="text-muted mt-0 mb-0"></h4>
								<div class="form-divider"></div>
							</div>
						</div>
					</div>
				</div>
					<div class="form-divider"></div>
					<button id="okBtn" class="button circle block orange">추가</button>
					<div class="form-divider"></div>
					<button id="cancelBtn" class="button circle block red">취소</button>
					<div class="form-divider"></div>
					<div class="form-divider"></div>
					<div class="form-divider"></div>
					</div>
				</div>
				
			</main>
			<!-- Page content end -->
			
		</div>
		
	</div>
	

	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	

	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>
	
	<script>
		var arr = [];
		var i = 0;
		$("#findBtn").click(function() {
			var studyUser = $("#userId").val();

			console.log('\n* 검색할 스터디원 확인(in 개발자도구 콘솔창) -> ' + studyUser);

			$.ajax({
				url:'http://localhost:3000/addUser',
				type : 'POST',
				headers: {
					'x-access-token': sessionStorage.getItem('jwtToken')
				},
				data : {
					// request body 부분임
					studyUser : studyUser
				},
				success : function(data) {
					if(data == '검색된 사용자 없음') {
						alert("없는 ID 입니다.");
					}
					else {
						alert(studyUser + " 를 추가합니다.");
						arr[i] = studyUser;
						i++;
						$("#userList").text(arr);
					}
				}
			})
		})
	</script>
	
	<script langauge="javascript">
		$("#okBtn").click(function() {
			window.location = '/example';
            alert("스터디원 추가 완료");
            window.close() // 스터디 메인 화면으로 이동
        })
        $("#cancelBtn").click(function() {
            window.close() // 스터디 메인 화면으로 이동
		})
   </script>
</body>

</html>