<!DOCTYPE html>
<html lang="en">
<body>
<!-- <div class="balance-card mb-15">
    <div class="d-flex align-items-center">
        <div class="d-flex flex-grow">
            <div class="mr-auto">
                <h1 class="b-val"></h1> 
                <p class="g-text mb-10">스터디 일시 : 언제언제</p>
            </div>
            <div class="ml-auto align-self-end"> 
                <a href="/studyMain?sId=">바로가기</a>
            </div>                                        
        </div>                                
    </div>
</div> -->

<section class="wallets-list container">
                        <h4 class="title-main">스터디원 만들 곳</h4>
                        <!--expendable list item -->
                        <div class="expandable-item accordion" data-group="accordion1">
                            <div class="expandable-header purp">
                                <i class="cc ETH-alt"></i>
                                <h3 class="list-title" id = "studyUser">스터디원 이름</h3>
                                <i class="list-arrow fa fa-angle-down"></i>
                            </div>
                            <div class="expandable-content">
                                <div class="padding-content">
                                    <h4>스터디원 내역</h4>
                                    <div class="recent-trans">
                                        <ul class="dropdown-menu-list list-unstyled no-mb">
                                            <li>
                                                <div class="notice-icon">
                                                    <i class="fa fa-institution"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>벌금</strong>
                                                        <span class="time small">벌금 얼마</span>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="notice-icon">
                                                    <i class="fa fa-institution"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>전화번호</strong>
                                                        <span class="time small">010-0000-0000</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    
</body>
</html>


