<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
   <title>Crypto Mobile Template</title>

   <!-- Google font file. If you want you can change. -->
   <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">

   <!-- Fontawesome font file css -->
   <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

   <!-- Animate css file for css3 animations. for more : https://daneden.github.io/animate.css -->
   <!-- Only use animate action. If you dont use animation, you don't have to add.-->
   <link rel="stylesheet" type="text/css" href="css/animate.css">
   <link rel="stylesheet" type="text/css" href="css/cryptocoins.css">
   <link rel="stylesheet" type="text/css" href="plugins/c3-chart/c3.css">

   <!-- Template global css file. Requared all pages -->
   <link rel="stylesheet" type="text/css" href="css/global.style.css">

   <!-- Swiper slider css file -->
   <link rel="stylesheet" href="css/swiper.min.css">

   <!--turbo slider plugin css file -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="plugins/turbo-slider/turbo.css">

</head>

<body>
   
    <div class="wrapper ">
		<div class="nav-menu">
			<nav class="menu">
			
				<!-- Menu navigation start -->
				<div class="nav-container">
					<ul class="main-menu">
						<li class="active">
							<a href="main"><img src="img/content/icons/1.png" alt=""><strong class="special">나의 스터디</strong> </a>
						</li>
						<li class="">
							<a href="myPenalty"><img src="img/content/icons/14.png" alt=""><strong class="special">내 벌점 내역</strong> </a>
						</li>
						<li class="">
							<a href="manageStudy"><img src="img/content/icons/11.png" alt=""><strong class="special">스터디 관리</strong> </a>
						</li>
					</ul>
				</div>
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header class="no-background"> <!-- extra class no-background -->
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->

            <!-- Page content start -->
            <main class="margin mt-0">
                <div class="dash-balance">
                    <div class="dash-content relative">
                        <h3 class="w-text" id = "study-title"></h3>
                        <div class="notification">
                            <a href="/createStudy" data-loader="show"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>

                <section class="bal-section container" id="userList">
                        <h4 class="title-main">참여 중인 스터디원 명단</h4>
                </section>

                
                <section class="container">

                    <h4 class="title-main">벌금</h4>
                        <ul class="transaction-list list-unstyled">
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs" src="img/content/coin2.png" alt="coin image">
                                        <div class="ml-10">
                                            <h4 class="coin-name" id="sBalance"></h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    <h4 class="title-main">스터디 날짜 및 시간</h4>
                        <ul class="transaction-list list-unstyled">
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs" src="img/content/coin1.png" alt="coin image">
                                        <div class="ml-10">
                                            <h4 class="coin-name" id="sDate"></h4> 
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        
                    <h4 class="title-main">스터디 비용(1인당)</h4>
                        <ul class="transaction-list list-unstyled">
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs" src="img/content/coin2.png" alt="coin image">
                                        <div class="ml-10">
                                            <h4 class="coin-name" id="cost"></h4>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    <h4 class="title-main">스터디카페 예약일</h4>
                        <ul class="transaction-list list-unstyled">
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs" src="img/content/coin1.png" alt="coin image">
                                        <div class="ml-10">
                                            <h4 class="coin-name" id="cafeTrans"></h4>
                                        </div>
                                    </div>
                                    <div>
                                        <a href = "change_datetime.html">
                                            <small class="d-block mb-0 txt-green">계좌변경</small>
                                            <small class="text-muted d-block"></small>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <h4 class="title-main">출금 예정일</h4>
                        <ul class="transaction-list list-unstyled">
                            <li>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="img-xs" src="img/content/coin1.png" alt="coin image">
                                        <div class="ml-10">
                                            <h4 class="coin-name" id="indiTrans"></h4>
                                        </div>
                                    </div>
                                    <div>
                                        <a href = "change_datetime.html">
                                            <small class="d-block mb-0 txt-green">계좌변경</small>
                                            <small class="text-muted d-block"></small>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </section>

                <footer>
                <div class="container">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <p>Copyright 짤 All Right Reserved</p>
                </div>
                </footer>
            </main>
            <!-- Page content end -->
        </div>
   </div>

   <!--Page loader DOM Elements. Requared all pages-->
   <div class="sweet-loader">
      <div class="box">
           <div class="circle1"></div>
           <div class="circle2"></div>
           <div class="circle3"></div>
      </div>
   </div>

   <!-- JQuery library file. requared all pages -->
   <script src="js/jquery-3.2.1.min.js"></script>

   <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

   <!-- Template global script file. requared all pages -->
   <script src="js/app-charts.js"></script>
   <script src="js/global.script.js"></script>
   
   <script>
        var jwtToken = sessionStorage.getItem('jwtToken');
        
        // * 쿼리스트링
        function getQueryStringObject() {
            var a = window.location.search.substr(1).split('&');
            if (a == "") return {};
            var b = {};
            for (var i = 0; i < a.length; ++i) {
                var p = a[i].split('=', 2);
                if (p.length == 1)
                    b[p[0]] = "";
                else
                    b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
            return b;
		}
        var qs = getQueryStringObject();
        var i = qs.sId - 1;
        var a = 0;
        console.log('\n* i 값 확인 -> ' + i + '\n* qs.sId 값 확인 -> ' + qs.sId);
    
        // * 스터디 목록
        function fetchStudyList() {
			$.ajax({
                url:'http://localhost:3000/studyList',
                type : 'POST',
                headers : {
					'x-access-token' : jwtToken
                },
                success:function(data) {

                    console.log('\n * data 확인(studyMain.ejs) -> ');
                    console.log(data);
                    for (var v = 0; v < data.length; v++) {
                        if (data[v].sId == qs.sId) {
                            a = v;
                        }
                    }
                    console.log(a);
                    console.log(i);

                    var sBalance = data[a].sBalance;
                    var year = new Date(data[a].sDate).getFullYear(); 
                    var month = new Date(data[a].sDate).getMonth() + 1 ; 
                    var day = new Date(data[a].sDate).getDate();
                    console.log(year + ' 년'+month +'월'+day+'일');
                    var cafeTrans = day - data[a].cafeTrans;
                    var indiTrans = day - data[a].indiTrans;
                    console.log(cafeTrans + '카페'+indiTrans +'개인');
                    $("#study-title").html(data[a].sName + " 스터디");
                    $("#sDate").text(year + '년 '+month +'월 '+day+'일');
                    $("#cost").html(data[a].cost + "원");
                    $("#cafeTrans").text(year + '년 '+month +'월 '+cafeTrans+'일');
                    $("#indiTrans").text(year + '년 '+month +'월 '+indiTrans+'일');
                    $("#sBalance").text(sBalance + '원');
                
                    // * 입금이체(스터디원1 ==> 우리App) 기능이 발생하는 function
                    function fetchDeposit() {
                        $.ajax({
                            url:'http://localhost:3000/deposit',
                            type : 'POST',
                            headers : {
                                'x-access-token' : jwtToken
                            },
                            success:function(data) {
                                if(data == 1)
                                    $("#cafeTrans").text("스터디카페의 계좌로 입금이 완료되었습니다.")
                            }
                        }); 
                    }
                    //fetchWithdraw();
                    //fetchDeposit();
                    /*
                    if sys의 날짜 => (data[i].sDate - data[i].indiTrans)
                    {
                        
                        fetchDeposit();
                        console.log('\n* data[i].sDate - data[i].indiTrans -> ');
                        console.log(data[i].sDate - data[i].indiTrans);
                    }
                    else
                    {
                        $("#indiTrans").html("스터디일 기준, " + data[i].indiTrans + "일 전에 스터디원의 계좌로부터 출금됩니다.");
                        $("#cafeTrans").html("스터디일 기준, " + data[i].cafeTrans + "일 전에 " + data[i].cName + "로 입금됩니다.");
                    }
                    */
                }
            }); 
        }
        fetchStudyList();

        // * 출금이체(스터디원1 ==> 우리App) 기능이 발생하는 function
        function fetchWithdraw() {
            $.ajax({
                url:'http://localhost:3000/withdraw',
                type : 'POST',
                headers : {
                    'x-access-token' : jwtToken
                },
                success:function(data) {
                    if(data == 1)
                        $("#indiTrans").text("스터디원의 계좌로부터 출금이 완료되었습니다.")
                }
            }); 
        }
        //fetchWithdraw();

        $("#changePay").click(function () {
			window.open("changePay", "금액 변경", "width=800,height=400");
        })
        

        function fetchUserList() {
            $.ajax({
                url:'http://localhost:3000/userList',
                type : 'POST',
                headers : {
                    'x-access-token' : jwtToken
                },
                data : {
                    sId : qs.sId
                },
                success:function(data) {

                    console.log('\n * data 확인(main.ejs) -> ');
                    console.log(data);
                    
                    for(var i = 0; i < data.length; i++) {

                        $("#userList").append(
                    '<div class="expandable-item accordion" data-group="accordion1">' +
                        '<div class="expandable-header purp">' +
                            '<i class="cc ETH-alt"></i>' +
                            '<h3 class="list-title" id = "studyUser">' + data[i].uName + '</h3>' +
                            '<i class="list-arrow fa fa-angle-down"></i>' +
                        '</div>' +
                        '<div class="expandable-content">' +
                            '<div class="padding-content">' +
                                '<h4>스터디원 내역</h4>' +
                                '<div class="recent-trans">' +
                                    '<ul class="dropdown-menu-list list-unstyled no-mb">' +
                                        '<li>' +
                                            '<div class="notice-icon">' +
                                                '<i class="fa fa-institution"></i>' +
                                            '</div>' +
                                            '<div>' +
                                                '<span class="name">' +
                                                    '<strong>벌금</strong>' +
                                                    '<span class="time small">벌금 얼마</span>' +
                                                '</span>' +
                                            '</div>' +
                                        '</li>' +
                                        '<li>' +
                                            '<div class="notice-icon">' +
                                                '<i class="fa fa-institution"></i>' +
                                            '</div>' +
                                            '<div>' +
                                                '<span class="name">' +
                                                    '<strong>전화번호</strong>' +
                                                    '<span class="time small">' + data[i].uPhone + '</span>' +
                                                '</span>' +
                                            '</div>' +
                                        '</li>' +
                                    '</ul>' +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
                        )                       
                    }
                }
            })
        }
        fetchUserList();
                
    </script>
</body>
</html>